<script type="text/javascript">
	var privacy = function() {
		alert( 'This site does not store or access user information outside of what is collected by Google Analytics.');
	}

	var terms = function() {
		alert( 'The site code is protected under the MIT License and is hosted on GitHub. The supplied photography is property of Sarabeth Brockley. Written consent from the owner should be obtained before any reproduction or reuse of photography is attempted.');
	}
</script>

<div class="container marketing">
	<!-- FOOTER -->
	<footer>
	  <p class="pull-right"><a href="#">Back to top</a></p>
	  <p>&copy; SB2 Photography &middot; <a onclick="privacy()">Privacy</a> &middot; <a onclick="terms()">Terms</a></p>
	</footer>

</div><!-- /.container -->